# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnpm-store/
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# Build outputs
dist/
*.tsbuildinfo

# misc
.DS_Store
*.pem
*.tool-versions

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.vscode

# docker
.docker
docker-compose.override.yml
docker-compose.yml

# screenshots
screenshots/

# browser data
.shortest/

# tarball
*.tar.gz
*.tgz

# cache directories
.cache/
